.home {
    display: flex;
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0;
}

.description {
    display : flex;
    justify-content: center;
    align-items : center;
    margin: auto;
}

.title {
    font-size : 128px;
    font-weight : 600;
}

.detail {
    font-size : 24px;
    font-weight : 400;
    padding-left : 10px;
}